.Calculator-manufacturer {
  color: #3f58bf;
  font-size: 0.5em;
  font-weight: bold;
  font-variant: small-caps;
}

.Calculator-name {
  color: #f1d013;
  font-size: 0.8em;
  font-weight: bold;
}

.Calculator-table {
  margin-left: auto;
  margin-right: auto;
}

.Calculator-table td {
  width: 1.6em;
  height: 1.6em;
  padding: 0.1em;
  border: none;
}

.Calculator-footer {
  font-size: 0.3em;
  color: #555555;
  margin-top: 2em;
}

.Calculator-footer div {
  text-align: center;
}

.Calculator-footer div + div {
  margin-top: 1em;
}

/* Theme: Default */

.theme-button-text {
  color: #ffffff;
}

svg .theme-button-background-main {
  fill: #000000;
}

svg .theme-button-background-blur {
  fill: #357dcf;
}

.Button:active svg .theme-button-background-blur {
  fill: #357dcfbb;
}

svg .theme-button-icon-main {
  fill: #ffffff;
}

svg .theme-button-icon-theme-1 {
  fill: #01b4bb;
}

svg .theme-button-icon-theme-2 {
  fill: #ce70c6;
}

svg .theme-button-icon-theme-3 {
  fill: #f1d013;
}

svg .theme-button-icon-theme-border {
  stroke: #ffffff;
}

.theme-result-success {
  background-image: url(emoji/smile.svg);
}

.theme-result-failure {
  background-image: url(emoji/frown.svg);
}

.theme-result-resolved {
  background-image: url(emoji/think.svg);
}

.theme-past-result-success {
  background-image: url(emoji/star.svg);
}

.theme-past-result-failure {
  background-image: url(emoji/star-outline.svg);
}

/* Theme: Unicorn */

.theme-unicorn svg .theme-button-background-main {
  fill: #000000;
}

.theme-unicorn svg .theme-button-background-blur {
  fill: #ea5a47;
}

.theme-unicorn .Button:active svg .theme-button-background-blur {
  fill: #ea5a47bb;
}

.theme-unicorn .theme-past-result-success {
  background-image: url(emoji/unicorn.svg);
}

.theme-unicorn .theme-past-result-failure {
  background-image: url(emoji/unicorn-outline.svg);
}

/* Theme: Forest */

.theme-forest svg .theme-button-background-main {
  fill: #000000;
}

.theme-forest svg .theme-button-background-blur {
  fill: #5c9e31;
}

.theme-forest .Button:active svg .theme-button-background-blur {
  fill: #5c9e31bb;
}

.theme-forest .theme-past-result-success {
  background-image: url(emoji/tree.svg);
}

.theme-forest .theme-past-result-failure {
  background-image: url(emoji/tree-outline.svg);
}

/* Theme: Grapes */

.theme-grapes svg .theme-button-background-main {
  fill: #000000;
}

.theme-grapes svg .theme-button-background-blur {
  fill: #8967aa;
}

.theme-grapes .Button:active svg .theme-button-background-blur {
  fill: #8967aabb;
}

.theme-grapes .theme-past-result-success {
  background-image: url(emoji/grapes.svg);
}

.theme-grapes .theme-past-result-failure {
  background-image: url(emoji/grapes-outline.svg);
}

/* Theme: Sun */

.theme-sun .theme-button-text {
  color: #000000;
}

.theme-sun svg .theme-button-background-main {
  fill: #000000;
}

.theme-sun svg .theme-button-background-blur {
  fill: #fcea2b;
}

.theme-sun .Button:active svg .theme-button-background-blur {
  fill: #fcea2bbb;
}

.theme-sun svg .theme-button-icon-main {
  fill: #000000;
}

.theme-sun svg .theme-button-icon-theme-border {
  stroke: #000000;
}

.theme-sun .theme-past-result-success {
  background-image: url(emoji/sun.svg);
}

.theme-sun .theme-past-result-failure {
  background-image: url(emoji/sun-outline.svg);
}
